## 导包
python3

In [15]:
#coding:utf-8
from sklearn import cross_validation
from sklearn.learning_curve import learning_curve
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

/anaconda3/envs/aind/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda3/envs/aind/lib/python3.6/site-packages/sklearn/learning_curve.py:23: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)
/anaconda3/envs/aind/lib/python3.6/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

## 读个数据

In [3]:
dir = 'data/'
train = pd.read_table(dir + 'train_20171215.txt',engine='python')
test_A = pd.read_table(dir + 'test_A_20171225.txt',engine='python')
sample_A = pd.read_table(dir + 'sample_A_20171225.txt',engine='python',header=None)

### 瞅瞅

In [4]:
train.head()

   date  day_of_week  brand   cnt
0     1            3      1    20
1     1            3      5    48
2     2            4      1    16
3     2            4      3    20
4     3            5      1  1411

In [5]:
test_A.head()

   date  day_of_week
0  1032            4
1  1033            5
2  1034            6
3  1035            1
4  1036            2

In [6]:
sample_A.head()

      0  1
0  1032  0
1  1033  1
2  1034  2
3  1035  3
4  1036  4


date  	  int   	  日期，经过脱敏，用数字来表示  
  day_of_week  	  int  	  表示星期几  
  brand  	  int  	  汽车品牌  
  cnt  	  int  	  上牌数

### 测试数据少了一个Brand。这里先丢掉

In [9]:
actions1 = train.groupby(['date','day_of_week'], as_index=False)['cnt'].agg({'count1':np.sum})

In [10]:
actions1.head()

   date  day_of_week  count1
0     1            3      68
1     2            4      36
2     3            5    5565
3     4            6    4966
4     5            7    3346

In [19]:
df_train_target = actions1['count1'].values
df_train_data = actions1.drop(['count1'],axis = 1).values
df_test_data = test_A.values

In [16]:
# 切分数据（训练集和测试集）
cv = cross_validation.ShuffleSplit(len(df_train_data), n_iter=5, test_size=0.2,random_state=0)

for train, test in cv:    
    gbdt = GradientBoostingRegressor().fit(df_train_data[train], df_train_target[train])
    result1 = gbdt.predict(df_train_data[test])
    print(mean_squared_error(result1,df_train_target[test]))
    print('......')

564745.025164
......
593765.995252
......
720902.365872
......
460706.91051
......
980977.756306
......

In [34]:
gbdt = GradientBoostingRegressor().fit(df_train_data, df_train_target)
result1 = gbdt.predict(df_test_data).astype(int)

输出结果

In [31]:
test_A = test_A.drop('day_of_week',axis=1)

ValueError: labels ['day_of_week'] not contained in axis

In [35]:
test_A['result'] = result1

In [36]:
test_A[['date','result']].to_csv('data/result.txt',index=False,header=False,sep='\t')